$color-font: rgb(0, 0, 0);
$white-font: rgb(255, 255, 255);
$font-default: Arial, Helvetica, sans-serif;
$font-size: 16px;
$align: center;
$p2: 200px;

.title {
   font-family: $font-default;
   font-size: $font-size;
   text-align: $align;
   }

.img {
   margin: 0 auto;
   border-radius: 50%;
   width: $p2;
   height: $p2;
   cursor: pointer;
}

.dark {
   background-color: black;
   color: $white-font !important;
}